*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}


body{
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    box-sizing: border-box;
}

main{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

header h1{
    text-align: center;
    font-size: 1.8rem;
    color: #333333;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.amount label {
    font-weight: bold;
    color: #555555;
}

.amount input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
    transition: all 0.3s;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.amount input:focus {
    border-color: #4facfe;
}

.currencies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#arrow{
    font-size: 2rem;
}
.currencies > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.currencies img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    transition: border-color 0.3s;
}
.currencies img:hover {
    border-color: #4facfe;
}

.currencies select {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #ffffff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.currencies select:focus {
    border-color: #4facfe;
}

#msg p {
    text-align: center;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

#btn{
    text-align: center;
}

#btn button {
    padding: 10px 20px;
    background: #4facfe;
    color:  black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    width: 80%;
}

#btn button:hover {
    background: #00d2fe;
    transform: translateY(-2px);
}

#btn button:active {
    transform: translateY(0);
}

